<!doctype html>
<html>
<head>
<meta charset="utf8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" />

<style>
body {
    padding-top: 30%;
    padding-bottom: 30%;
    background-color: #A9A9A9;
}

</style>
</head>

<body>

<div class="wrapper" align="center">
  <div id="main-char">
    <h1 style="color:white; font-weight:bold; font-size: 80px; text-align: center;">Celebrate you</h1>
  </div>
  <div class="btn-group" role="group" style="border:1px solid white;">
    <button type="button" class="btn btn-default">celebrate</button>
    <button type="button" class="btn btn-default">thanks</button>
  </div>

</div>


</body>
</html>